<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MyWallet</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <meta name="csrf" content="<%= Plug.CSRFProtection.get_csrf_token() %>">

  <%= if logged_in?(@conn) do %>
    <%= tag :meta, name: "channel_token",content: Phoenix.Token.sign(@conn, "user", current_user(@conn).id) %>
    <%= tag :meta, name: "channel_id",content: current_user(@conn).id %>
  <% end %>

  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</head>
<body class="hold-transition skin-blue fixed sidebar-mini">
<div class="wrapper">

  <%= render "header.html", conn: @conn %>
  <%= render "navigation.html", conn: @conn %>

  <div class="content-wrapper">
      <main role="main">
        <%= render @view_module, @view_template,  assigns %>
      </main>
  </div>

  <!--
  <%= render "footer.html" %>
  -->
  
  <div class="control-sidebar-bg"></div>

</div>
<!-- ./wrapper -->
</body>
</html>
